:root {
    --color-accent: #266cf5;
    --color-text: #173878;
}

html {
    box-sizing: border-box;
}

html * {
    box-sizing: inherit;
}

body {
    margin: 0;
    font: 400 14px 'Inter', sans-serif;
    letter-spacing: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -moz-font-feature-settings: "liga" on;
    line-height: 1.4;
    text-rendering: optimizeLegibility;
    width: 100vw;
    height: 100vh;
}

#root {
    width: 100vw;
    height: 100vh;
}

.wrap {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center; 
    position: relative;
    z-index: 2;
}

.background {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-position: 35% 50%;
    background-size: cover;
}

input {
    font-family: 'Inter', sans-serif;
}

a {
    color: var(--color-accent);
    font-weight: 500;
}
.app {
    background-color: rgba(255,255,255,0.7);
    padding: 50px 30px;
    border-radius: 20px;
    position: relative;
}

.action {
    text-align: center; 
    margin-top: 20px;
}
.beta,
.hint {
    position: absolute;
    right: 15px;
    bottom: 15px;
}
.result {
    text-align: center;
}
.login {
    position: absolute;
  top: 20px;
  left: 20px;
  background-color: #ffffffb3;
  border-radius: 10px;
  padding: 15px 10px;
}
table.highscore {
    margin-left: auto;
    margin-right: auto;

}
