name: Checks & deploy
run-name: Fmt, lint, test, build, & deploy to gh-pages

on:
  push:
    branches: [ main ]

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  fmt:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: ai/asdf-cache-action@v1
      - uses: actions/cache@v3
        with:
          path: ~/.m2/repository
          key: cljdeps-${{ hashFiles('deps.edn') }}
          restore-keys: cljdeps-
      - id: yarn-cache-dir-path
        run: echo "dir=$(yarn cache dir)" >> $GITHUB_OUTPUT
      - uses: actions/cache@v3
        id: yarn-cache
        with:
          path: ${{ steps.yarn-cache-dir-path.outputs.dir }}
          key: ${{ runner.os }}-yarn-${{ hashFiles('**/yarn.lock') }}
          restore-keys: ${{ runner.os }}-yarn-
      - run: yarn check-fmt

  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: ai/asdf-cache-action@v1
      - uses: actions/cache@v3
        with:
          path: ~/.m2/repository
          key: cljdeps-${{ hashFiles('deps.edn') }}
          restore-keys: cljdeps-
      - id: yarn-cache-dir-path
        run: echo "dir=$(yarn cache dir)" >> $GITHUB_OUTPUT
      - uses: actions/cache@v3
        id: yarn-cache
        with:
          path: ${{ steps.yarn-cache-dir-path.outputs.dir }}
          key: ${{ runner.os }}-yarn-${{ hashFiles('**/yarn.lock') }}
          restore-keys: ${{ runner.os }}-yarn-
      - run: yarn lint

  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: ai/asdf-cache-action@v1
      - uses: actions/cache@v3
        with:
          path: ~/.m2/repository
          key: cljdeps-${{ hashFiles('deps.edn') }}
          restore-keys: cljdeps-
      - id: yarn-cache-dir-path
        run: echo "dir=$(yarn cache dir)" >> $GITHUB_OUTPUT
      - uses: actions/cache@v3
        id: yarn-cache
        with:
          path: ${{ steps.yarn-cache-dir-path.outputs.dir }}
          key: ${{ runner.os }}-yarn-${{ hashFiles('**/yarn.lock') }}
          restore-keys: ${{ runner.os }}-yarn-
      - run: yarn install --frozen-lockfile
      - run: yarn release
      - uses: actions/upload-pages-artifact@v1
        with:
          name: github-pages
          path: public

  deploy:
    runs-on: ubuntu-latest
    needs: [build, fmt, lint]
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
      - id: pages
        uses: actions/configure-pages@v4
      - id: deployment
        uses: actions/deploy-pages@v3